@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Baloo, 'Baloo Bhai 2', cursive;
}

body{
    background-color: #f1f3f4;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #30003a;
}

#controller{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 99%;
    justify-content: space-between;
    align-items: center;
}


#imageLogo{
    text-align: center;
    justify-content: center;
    position: relative;
}

#imageLogo img{
    height: 90%;
    width: 90%;
    border-radius: 50%;
    -webkit-user-drag: none;
}

#imageLogo::after{
    content: 'PLAYER';
    font-size: 5vh;
    color: white;
    width: 50%;
    height: 8vh;
    position: absolute;
    bottom: 1vh;
    left: 25%;
    background: #30003a;
}

#addSongLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#addSongLogo img{
    cursor: pointer;
    margin-top: 5vh;
    box-shadow: 0.15rem 0.15rem 0 #000;
    -webkit-user-drag: none;
    border-radius: 10%;
}

#addSongOpenFile{
    display: none;
}

#audioPlayerControlsBar{
    position: fixed;
    bottom: 0;
    width: 100vw;
}